.film-container {
  @apply min-h-screen w-full;
  .film {
    @apply flex flex-col xl:flex-row justify-between items-center relative pt-20;

    .img-overlay {
      @apply absolute z-0 top-0 left-0 w-full h-full bg-gray-800;
      &:before {
        @apply absolute z-0 top-0 left-0 w-full h-full bg-black opacity-80 hidden xl:block;
        content: "";
      }
      img {
        @apply w-full h-full hidden xl:inline-block;
      }
    }

    &__image {
      @apply mr-0 z-10 xl:mr-20;
      min-width: 400px;
			@media (max-width: 450px) {
				min-width: 100%;
			}
      max-width: 400px;
      img {
        @apply w-full h-full rounded;
      }
    }

    &__info {
      @apply z-10 text-white;
      h2 {
        @apply text-5xl uppercase font-bold text-center leading-tight mt-10 xl:mt-0;
      }

      .info-group {
        @apply mt-6;
        span {
          @apply font-bold uppercase relative pl-3 mb-2 inline-block;
          &:before {
            @apply absolute top-0 left-0 w-1 h-full bg-purple-900;
            content: "";
          }
        }
        p {
          @apply pl-3;
        }
      }
    }
  }

  .film-player {
    @apply flex justify-center items-center w-full h-full bg-gray-900;

    iframe {
      @apply w-full rounded-lg;
      max-width: 1300px;
      min-height: 650px;
			@media (max-width: 768px) {
				min-height: 400px;
			}
    }
  }

  .reviews {
    .reviews__title {
      @apply text-white lg:text-4xl py-5 uppercase font-semibold relative pl-4 mb-5 text-3xl;
      &:before {
        @apply absolute top-0 left-0 w-1 h-full bg-purple-900;
        content: "";
      }
    }
  }
}
