@import "../../../../variables";

.auth-container {
  @apply flex justify-center items-center w-full min-h-screen bg-black py-8 md:py-14 px-2 md:px-24 shadow-xl;
	background-image: url('../../../../assets/imgs/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

  @media (max-width: 1200px) {
    @apply px-8;
  }
  .main-container {
    @apply flex flex-col lg:flex-row justify-end items-center w-full bg-black relative rounded;
		min-height: 80vh;
		&.sign-up {
			@apply justify-start;
		}

    .poster {
      @apply hidden lg:block w-1/2 h-full absolute translate-x-0 left-0 top-0 z-10 transition-all duration-500;
      &.left {
        @apply translate-x-full;
      }
    }

    .sign-in,
    .sign-up {
      @apply flex justify-center items-center w-full lg:w-1/2 h-full;

      &__content {
        @apply bg-black w-full min-h-full py-10 px-14;
				.mini-poster {
					@apply block mx-auto h-60 lg:hidden mt-4;
				}
        @media (max-width: 768px) {
          @apply py-10;
        }
        @media (max-width: 576px) {
          @apply py-8 px-6;
        }
        form {
          @apply flex flex-col justify-center items-center;

          .form-group {
            @apply w-full mt-5;
            min-height: 100px;

            @media (max-width: 576px) {
              min-height: 90px;
            }

            .invalid-feedback {
              @apply text-xs leading-4 text-red-500 mt-1;
            }
          }

          .form-title {
            @apply mb-5 font-black text-4xl tracking-wider text-white;
            @media (max-width: 768px) {
              @apply mb-8 text-3xl;
            }
          }

          .label-input {
            @apply w-full text-left text-white text-base leading-3 inline-block mb-3;
            &.text-right {
              width: initial;
              @apply self-end;
            }
            &.text-center {
              width: initial;
              @apply self-center;
            }

						&.forgot-password {
							@apply text-sm md:text-base;
						}
          }

          input {
            @apply w-full relative py-4 font-medium transition-all duration-500 border-0 border-b-2 border-solid border-transparent bg-gray-900 text-white rounded-lg;
            @media (max-width: 576px) {
              @apply py-3 text-sm;
            }
            &::-webkit-input-placeholder {
              @apply text-gray-400;
            }

            &:focus {
              box-shadow: none;
              outline: none;
              background-position: right !important;
              @apply border-solid border-purple-500;
              &::-webkit-input-placeholder {
                color: transparent;
              }
              &::-moz-placeholder {
                color: transparent;
              }
              &:-ms-input-placeholder {
                color: transparent;
              }
              &::-ms-input-placeholder {
                color: transparent;
              }
              &::placeholder {
                color: transparent;
              }
            }

            &.is-invalid {
              @apply border-red-500;
            }
          }

          .btn-submit {
            @apply w-full py-3 inline-block text-xl uppercase text-white mt-5 transition-all duration-500 font-medium rounded-3xl;
            @media (max-width: 768px) {
              @apply my-6;
            }
            @media (max-width: 576px) {
              @apply my-5 text-sm;
            }
            background: $gradient-bg;
            background-size: 300%;
            &:hover {
              background-position: 50%;
              @apply shadow-2xl;
            }
          }

          .switch-link {
            @apply mt-3 w-full flex justify-center items-center;
            @media (max-width: 576px) {
              @apply mt-2 text-sm;
            }
            @media (max-width: 376px) {
              @apply mt-1;
            }
            span {
              @apply text-white mr-2;
            }
            a {
              @apply uppercase text-white cursor-pointer;
              &:hover {
                @apply underline;
              }
            }
          }
        }
      }
    }
  }
}