<div class="forgotpassword-container">
    <div class="main-container">
      <img
        src="../../../../assets/imgs/auth-poster.jpg"
        alt="Poster"
        class="poster"
      />
      <div class="reset-password">
        <div class="reset-password__content">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">
            <h2 class="form-title">RESET PASSWORD</h2>
            <div class="form-group">
              <span class="label-input">New Password</span>
              <input
                class="inputPassword"
                type="password"
                formControlName="password"
                name="password"
                placeholder="Type your new password"
                [ngClass]="{ 'is-invalid': resetPasswordSubmitted && fr.password.errors }"
              />
              <div
                *ngIf="resetPasswordSubmitted && fr.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="fr.password.errors.required">New password is required</div>
              </div>
            </div>
  
            <div class="form-group">
              <span class="label-input">Confirm Password</span>
              <input
                class="inputPassword"
                type="password"
                formControlName="password"
                name="password"
                placeholder="Confirm your password"
                [ngClass]="{
                  'is-invalid': resetPasswordSubmitted && fr.confirmPassword.errors
                }"
                [ngClass]="{ 'is-invalid': resetPasswordNotification }"
              />
              <div
                *ngIf="
                resetPasswordSubmitted &&
                  (fr.confirmPassword.errors || resetPasswordNotification)
                "
                class="invalid-feedback"
              >
                <div>Confirm password does not match</div>
              </div>
            </div>
            <button class="btn-submit" 
            type="submit"
            >RESET PASSWORD</button>
          </form>
        </div>
      </div>
  
      <div class="confirm-email">
        <div class="confirm-email__content">
          <form [formGroup]="confirmEmailForm" (ngSubmit)="onConfirmEmailSubmit()">
            <h2 class="form-title">CONFIRM EMAIL</h2>
            <h3 class="form-title-smaller">We sent a 4-digit code to your email,<br>please enter it below to proceed</h3>
            <div class="form-group">
              <span class="label-input">Digit code</span>
              <input
                class="inputDigitCode"
                type="text"
                formControlName="digitCode"
                name="digitCode"
                placeholder="Type your 4-digit code"
                [ngClass]="{ 'is-invalid': confirmEmailSubmitted && fc.digitCode.errors }"
              />
              <div
                *ngIf="confirmEmailSubmitted && fc.digitCode.errors"
                class="invalid-feedback"
              >  
              <div *ngIf="fc.digitCode.errors.required">Digit code is required</div>
              </div>
            </div>   
            <button class="btn-submit" 
            type="submit"
            (click)="togglePoster()"  
            >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  