$color-border-light: #eee;
$card-box-shadow: 3px 3px 5px #636363;
$card-text-color: #323c47;
$gradient-bg: linear-gradient(to right, #00dbde, #fc00ff, #00dbde, #fc00ff);
$color-blue: #00dbde;
$color-blue-bold: #02bfc2;
$color-purple: #fc00ff;
$gradient-block-info: linear-gradient(to right, #4B5563, #444c58, #4B5563, #444c58);